<!DOCTYPE html>
<html>

<head>
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css">
	<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
	<script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
	<title>Veterinaria Happy Pets</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- Bootstrap core CSS -->
	<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link th:href="@{css/heroic-features.css}" rel="stylesheet">

</head>

<body>
<div id="contenedor">
		<header th:fragment="header">
			<h1>admin</h1>

		</header>

		<main>
			<section style="width: 65%;float: left;">

			</section>
		</main>
		<footer th:fragment="footer">
		</footer>
	</div>
	
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand"> Veterinaria Happy Pets</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page"
						th:href="@{/hola/test}">Inicio</a> <a class="nav-link" href="#">Galeria</a>
					<a class="nav-link" href="#">Post</a> <a class="nav-link disabled"
						href="#" tabindex="-1" aria-disabled="true">Disabled</a>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<!--<li class="nav-item"><a class="nav-link" href="carrito.html">Carrito</a></li>-->
					<li class="nav-item"><a class="nav-link" href="/user/cargar">Cerrar session</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">
	<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Clientes
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">Home</a></li>
			<li class="breadcrumb-item active">Agregar clientes</li>
		</ol>
		<br>
		<form th:action="@{/web/saveUsuario}" method="post"	th:object=${usuario}>

			<div class="form-group row">
				<label for="inputdni" class="col-sm-2 col-form-label">Dni :</label>
				<div class="col-sm-4">
					<input th:field="*{dni}" th:value="*{dni}" type="text" class="form-control" id="inputdni" placeholder="Ingrese Dni">
				</div>
			</div>

			<div class="form-group row">
				<label for="inputnombre" class="col-sm-2 col-form-label">Nombre :</label>
				<div class="col-sm-4">
					<input th:field="*{nombre}" th:value="*{nombre}" type="text" class="form-control" id="inputnombre" placeholder="Ingrese nombre">
				</div>
			</div>
			
			<div class="form-group row">
				<label for="inputapellido" class="col-sm-2 col-form-label">Apellido :</label>
				<div class="col-sm-4">
					<input th:field="*{apellido}" th:value="*{apellido}" type="text" class="form-control" id="inputapellido" placeholder="Ingrese apellido">
				</div>
			</div>
			
			<div class="form-group row">
				<label for="inputcorreo" class="col-sm-2 col-form-label">Correo :</label>
				<div class="col-sm-4">
					<input th:field="*{correo}" th:value="*{correo}" type="text" class="form-control" id="inputcorreo" placeholder="Ingrese correo">
				</div>
			</div>
			
			<div class="form-group row">
				<label for="inputtelefono" class="col-sm-2 col-form-label">Telefono :</label>
				<div class="col-sm-4">
					<input th:field="*{telefono}" th:value="*{telefono}" type="text" class="form-control" id="inputtelefono" placeholder="Ingrese telefono">
				</div>
			</div>
			
			<div class="form-group row">
				<label for="inputdireccion" class="col-sm-2 col-form-label">Direccion :</label>
				<div class="col-sm-4">
					<input th:field="*{direccion}" th:value="*{direccion}" type="text" class="form-control" id="inputdireccion" placeholder="Ingrese direccion">
				</div>
			</div>
			
			<div class="form-group row">
				<label for="inputsexo" class="col-sm-2 col-form-label">Sexo :</label>
				<div class="col-sm-4">
					<input th:field="*{sexo}" th:value="*{sexo}" type="text" class="form-control" id="inputsexo" placeholder="Ingrese sexo">
				</div>
			</div>
		

			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Registrar</button>
				</div>
			</div>

		</form>
	</div>

<!-- /.container -->
	<br>
	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Spring Veterinaria 2022</p>
		</div>
		<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>